In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime
import warnings

In [2]:
warnings.filterwarnings('ignore')

# Creation de la dataframe reflist

In [3]:
reflist=pd.DataFrame()

In [4]:
print(type(reflist))

<class 'pandas.core.frame.DataFrame'>

In [17]:

pathfile=r's8'

# reflist: list of epc in each box
reflist=pd.DataFrame()
# 
files=os.listdir(pathfile)
for file in files:
    print(file)
    if file.startswith('reflist_'):
        temp=pd.read_csv(os.path.join(pathfile,file),sep=',').reset_index(drop=True)[['Epc']]
        temp['refListId']=file.split('.')[0]
        #reflist=reflist.append(temp)
        reflist=pd.concat([reflist,temp]) 
        
reflist=reflist.rename(columns={'refListId':'refListId_actual'})
reflist['refListId_actual']=reflist['refListId_actual'].apply(lambda x:int(x[8:]))
Q_refListId_actual=reflist.groupby('refListId_actual')['Epc'].nunique().rename('Q refListId_actual').reset_index(drop=False)
reflist=pd.merge(reflist,Q_refListId_actual,on='refListId_actual',how='left')
reflist.head()

.ipynb_checkpoints
ano_APTags-TagsAutomatedProcess-2019-11-07-16_29_46.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-16_57_34.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-17_16_18.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-17_32_19.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-17_58_50.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_13_30.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_21_44.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_30_01.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_38_19.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_49_44.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_00_26.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_10_51.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_20_14.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_29_54.csv
ano_APTags-TagsAutomatedProcess-2019-11-08-10_55_25.csv
ano_supply-process.2019-11-07-CUT.csv
reflist_0.olpn
reflist_1.olpn
reflist_2.olpn
reflist_3.olpn
reflist_4.olpn
reflist_5.olpn
reflist_6.olpn
reflist_7.olpn
reflist_8.olpn
reflist_9.olpn

      Epc  refListId_actual  Q refListId_actual
0  epc_90                 0                  16
1  epc_91                 0                  16
2  epc_92                 0                  16
3  epc_93                 0                  16
4  epc_94                 0                  16

# Creation de la dataframe Tags

In [10]:
# pathfile=r'data_anonymous'
# 
# tags : rfid readings
tags=pd.DataFrame()
# 
files=os.listdir(pathfile)
for file in files:
    print(file)
    if file.startswith('ano_APTags'):
        temp=pd.read_csv(os.path.join(pathfile,file),sep=',')
        #tags=tags.append(temp)
        tags=pd.concat([tags,temp]) 
tags['LogTime']=pd.to_datetime (tags['LogTime'] ,format='%Y-%m-%d-%H:%M:%S') 
tags['TimeStamp']=tags['TimeStamp'].astype(float)
tags['Rssi']=tags['Rssi'].astype(float)
tags=tags.drop(['Reader','EmitPower','Frequency'],axis=1).reset_index(drop=True)
tags=tags[['LogTime', 'Epc', 'Rssi', 'Ant']]

# antennas 1 and 2 are facing the box when photocell in/out 
Ant_loc=pd.DataFrame({'Ant':[1,2,3,4],'loc':['in','in','out','out']})


tags=pd.merge(tags,Ant_loc,on=['Ant'])
tags=tags.sort_values('LogTime').reset_index(drop=True)

#L'ensemble de ces opérations  de la ligne ci dessus est utilisé pour s'assurer que les données dans le DataFrame "df"  
#sont triées en fonctionde leur date et heure de manière croissante et  
#que l'index est réinitialisé pour bien refléter cet ordre de tri.


tags

.ipynb_checkpoints
ano_APTags-TagsAutomatedProcess-2019-11-07-16_29_46.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-16_57_34.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-17_16_18.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-17_32_19.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-17_58_50.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_13_30.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_21_44.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_30_01.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_38_19.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-18_49_44.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_00_26.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_10_51.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_20_14.csv
ano_APTags-TagsAutomatedProcess-2019-11-07-19_29_54.csv
ano_APTags-TagsAutomatedProcess-2019-11-08-10_55_25.csv
ano_supply-process.2019-11-07-CUT.csv
reflist_0.olpn
reflist_1.olpn
reflist_2.olpn
reflist_3.olpn
reflist_4.olpn
reflist_5.olpn
reflist_6.olpn
reflist_7.olpn
reflist_8.olpn
reflist_9.olpn

                    LogTime      Epc  Rssi  Ant  loc
0       2019-11-07 15:32:10  epc_100 -69.0    3  out
1       2019-11-07 15:32:10   epc_97 -69.0    3  out
2       2019-11-07 15:32:10   epc_97 -65.0    3  out
3       2019-11-07 15:32:10   epc_99 -70.0    3  out
4       2019-11-07 15:32:10  epc_100 -66.0    3  out
...                     ...      ...   ...  ...  ...
1203998 2019-11-07 19:44:02  epc_109 -70.0    1   in
1203999 2019-11-07 19:44:02  epc_128 -67.0    1   in
1204000 2019-11-07 19:44:02  epc_109 -69.0    1   in
1204001 2019-11-07 19:44:03  epc_109 -69.0    1   in
1204002 2019-11-07 19:51:04  epc_193 -75.0    1   in

[1204003 rows x 5 columns]

 COMMENTAIRE: 

Ce code permet de lire les fichiers commençant par 'ano_APTags' dans le répertoire 'data_anonymous' et de fusionner les données de ces fichiers en un unique DataFrame.

Le DataFrame résultant contient les colonnes suivantes :

'LogTime': la date et l'heure de chaque scan RFID
'Epc': l'identifiant unique de chaque produit
'Rssi': la puissance du signal RFID capté pour chaque scan
'Ant': le numéro d'antenne où a été effectué le scan 'loc': l'emplacement de chaque antenne (entrée ou sortie)

Le code définit également la table Ant_loc qui permet de faire correspondre les numéros d'antenne aux emplacements d'entrée et de sortie. Enfin, le DataFrame est trié par ordre chronologique des scans et les colonnes inutiles sont supprimées.

# Creation de la dataframe Windows

In [11]:
# timing: photocells a time window for each box: start/stop (ciuchStart, ciuchStop)
file=r'ano_supply-process.2019-11-07-CUT.csv'
timing=pd.read_csv(os.path.join(pathfile,file),sep=',')
timing['file']=file
timing['date']=pd.to_datetime(timing['date'],format='%d/%m/%Y %H:%M:%S,%f')
timing['ciuchStart']=pd.to_datetime(timing['ciuchStart'],format='%d/%m/%Y %H:%M:%S,%f')
timing['ciuchStop']=pd.to_datetime(timing['ciuchStop'],format='%d/%m/%Y %H:%M:%S,%f')
timing['timestampStart']=timing['timestampStart'].astype(float)
timing['timestampStop']=timing['timestampStop'].astype(float)
timing=timing.sort_values('date')
timing.loc[:,'refListId']=timing.loc[:,'refListId'].apply(lambda x:int(x[8:]))

timing=timing[['refListId', 'ciuchStart', 'ciuchStop']]

#timing.rename(columns={'refListId': 'windows_id'}, inplace=True)

timing

    refListId              ciuchStart               ciuchStop
0           0 2019-11-07 18:53:52.370 2019-11-07 18:53:54.197
1           1 2019-11-07 18:54:02.637 2019-11-07 18:54:04.463
2           2 2019-11-07 18:54:13.587 2019-11-07 18:54:15.447
3           3 2019-11-07 18:54:17.942 2019-11-07 18:54:19.591
4           4 2019-11-07 18:54:23.683 2019-11-07 18:54:25.528
..        ...                     ...                     ...
384         7 2019-11-07 19:34:22.740 2019-11-07 19:34:24.686
385         8 2019-11-07 19:34:27.950 2019-11-07 19:34:29.670
386         9 2019-11-07 19:34:33.696 2019-11-07 19:34:35.671
387         0 2019-11-07 19:34:39.687 2019-11-07 19:34:41.624
388         1 2019-11-07 19:34:46.836 2019-11-07 19:34:48.639

[389 rows x 3 columns]

In [12]:
#affiche la taille du modele
len(timing)

389

In [13]:
#affiche les 12 premièeres lignes
timing[:12]

   refListId              ciuchStart               ciuchStop
0          0 2019-11-07 18:53:52.370 2019-11-07 18:53:54.197
1          1 2019-11-07 18:54:02.637 2019-11-07 18:54:04.463
2          2 2019-11-07 18:54:13.587 2019-11-07 18:54:15.447
3          3 2019-11-07 18:54:17.942 2019-11-07 18:54:19.591
4          4 2019-11-07 18:54:23.683 2019-11-07 18:54:25.528
5          5 2019-11-07 18:54:29.422 2019-11-07 18:54:31.278
6          6 2019-11-07 18:54:34.953 2019-11-07 18:54:36.685
7          7 2019-11-07 18:54:40.829 2019-11-07 18:54:42.611
8          8 2019-11-07 18:54:46.383 2019-11-07 18:54:48.158
9          9 2019-11-07 18:54:52.122 2019-11-07 18:54:54.051
10         0 2019-11-07 18:54:57.738 2019-11-07 18:54:59.584
11         1 2019-11-07 18:55:03.946 2019-11-07 18:55:05.694

In [18]:
runs_box=timing.groupby('refListId').size().rename('runs_box').reset_index(drop=False)
reflist=pd.merge(reflist, runs_box, left_on='refListId_actual', right_on='refListId', how='left').drop(columns=['refListId'])

reflist

         Epc  refListId_actual  Q refListId_actual  runs_box
0     epc_90                 0                  16        40
1     epc_91                 0                  16        40
2     epc_92                 0                  16        40
3     epc_93                 0                  16        40
4     epc_94                 0                  16        40
..       ...               ...                 ...       ...
197  epc_133                 9                   8        39
198  epc_134                 9                   8        39
199  epc_135                 9                   8        39
200  epc_136                 9                   8        39
201  epc_137                 9                   8        39

[202 rows x 4 columns]

# Mise en commun entre la table tags et reflist

In [19]:
#on rassemble les deux df à partir de l'epc

tags_reflist=pd.merge(tags, reflist, on='Epc', how='left')
tags_reflist

,LogTime,Epc,Rssi,Ant,loc,refListId_actual,Q refListId_actual,runs_box
0,2019-11-07 15:32:10,epc_100,-69.0,3,out,0,16,40
1,2019-11-07 15:32:10,epc_97,-69.0,3,out,0,16,40
2,2019-11-07 15:32:10,epc_97,-65.0,3,out,0,16,40
3,2019-11-07 15:32:10,epc_99,-70.0,3,out,0,16,40
4,2019-11-07 15:32:10,epc_100,-66.0,3,out,0,16,40
...,...,...,...,...,...,...,...,...
1203998,2019-11-07 19:44:02,epc_109,-70.0,1,in,6,24,39
1203999,2019-11-07 19:44:02,epc_128,-67.0,1,in,6,24,39
1204000,2019-11-07 19:44:02,epc_109,-69.0,1,in,6,24,39
1204001,2019-11-07 19:44:03,epc_109,-69.0,1,in,6,24,39
1204002,2019-11-07 19:51:04,epc_193,-75.0,1,in,7,10,39

In [20]:
# ciuchStart_up starts upstream ciuchStart, half way in between the previous stop and the actual start
#traitement et modification des données dans le DataFrame timing en calculant de nouveaux attributs et en ajustant les valeurs existantes en fonction de certaines logiques définies.

timing[['ciuchStop_last']]=timing[['ciuchStop']].shift(1)
timing[['refListId_last']]=timing[['refListId']].shift(1)
timing['ciuchStartup']=timing['ciuchStart'] - (timing['ciuchStart'] - timing['ciuchStop_last'])/2 #Formule pour trouver la date du StartUp

# timing start: 10sec before timing
timing.loc[0,'refListId_last']=timing.loc[0,'refListId'] # On met des valeurs au début pour éviter d'avoir des valeurs NULL. Essentiellement, il initialise la colonne 'refListId_last' avec les mêmes valeurs que la colonne 'refListId' pour la première ligne. 
timing.loc[0,'ciuchStartup']=timing.loc[0,'ciuchStart']-datetime.timedelta(seconds=10)
timing.loc[0,'ciuchStop_last']=timing.loc[0,'ciuchStartup']-datetime.timedelta(seconds=10)
timing['refListId_last']=timing['refListId_last'].astype(int)

#  timing stop: 10sec après le timing
timing['ciuchStopdown']= timing['ciuchStartup'].shift(-1)
timing.loc[len(timing)-1,'ciuchStopdown']=timing.loc[len(timing)-1,'ciuchStop']+datetime.timedelta(seconds=10)
timing=timing[['refListId', 'refListId_last','ciuchStartup', 'ciuchStart','ciuchStop','ciuchStopdown']]
timing.head()

,refListId,refListId_last,ciuchStartup,ciuchStart,ciuchStop,ciuchStopdown
0,0,0,2019-11-07 18:53:42.370000,2019-11-07 18:53:52.370,2019-11-07 18:53:54.197,2019-11-07 18:53:58.417000
1,1,0,2019-11-07 18:53:58.417000,2019-11-07 18:54:02.637,2019-11-07 18:54:04.463,2019-11-07 18:54:09.025000
2,2,1,2019-11-07 18:54:09.025000,2019-11-07 18:54:13.587,2019-11-07 18:54:15.447,2019-11-07 18:54:16.694500
3,3,2,2019-11-07 18:54:16.694500,2019-11-07 18:54:17.942,2019-11-07 18:54:19.591,2019-11-07 18:54:21.637000
4,4,3,2019-11-07 18:54:21.637000,2019-11-07 18:54:23.683,2019-11-07 18:54:25.528,2019-11-07 18:54:27.475000

In [21]:
# t0_run = a new run starts when box 0 shows up
# a chaque fois que la box 0 passe, un nouveau run est lancé
t0_run=timing[timing['refListId']==0] [['ciuchStartup']]
t0_run=t0_run.rename(columns={'ciuchStartup':'t0_run'})
t0_run=t0_run.groupby('t0_run').size().cumsum().rename('run').reset_index(drop=False)
t0_run=t0_run.sort_values('t0_run')
# 
# each row in timing is merged with a last row in t0_run where t0_run (ciuchstart) <= timing (ciuchstart)
timing=pd.merge_asof(timing,t0_run,left_on='ciuchStartup',right_on='t0_run', direction='backward')
timing=timing.sort_values('ciuchStop')
# run correspond au nombre de passage de la boite, si les epc ne correspondent pas la boite repasse les détecteurs
timing=timing[['run', 'refListId', 'refListId_last', 'ciuchStartup','ciuchStart','ciuchStop','ciuchStopdown','t0_run']]

In [46]:
#  full window (ciuchStartup > ciuchStopdown) is sliced in smaller slices 
# ciuchStartup > ciuchStart: 11 slices named up_0, up_1, ..., up_10 
# ciuchStart > ciuchStop: 11 slices named mid_0, mid_1, ... mid_10
# ciuchStop > ciuchStopdown: 11 slices names down_0, down_1, ... down_10 
# Traduction : Les espaces entre les étapes sont divisées en 11 parties chacune : entre le startUp et le Start ce seront des up_X, entre le Start et le Stop ce seront des mid_X et entre le Stop et le StopDown ce seront des down_X. 
slices=pd.DataFrame() # Création d'un dataframe 

for i, row in timing .iterrows(): # Pour chaque ligne dans timing 
    ciuchStartup=row['ciuchStartup'] # On prend la valeur de ciuchStartup à la ligne i 
    ciuchStart=row['ciuchStart'] # … de ciuchStart à la ligne i 
    ciuchStop=row['ciuchStop'] # idem 
    ciuchStopdown=row['ciuchStopdown'] # idem 
    steps=4 # Nombre de fois qu'on divise entre 2 étapes 
#steps est utilisée pour spécifier le nombre de tranches dans lesquelles la fenêtre de temps doit être divisée. 

#      
    up=pd.DataFrame(index=pd.date_range(start=ciuchStartup, end=ciuchStart,periods=steps,inclusive='left')).reset_index(drop=False).rename(columns={'index':'slice'}) # Divise en 3 parts les instants entre ciuchStart up et ciuchStart (cf image en bas de bloc) 
    up.index=['up_'+str(x) for x in range(steps-1)] # Associe à chaque part un up_X 
    slices=pd.concat([slices,up]) # Ajout des Up dans le dataframe slices 
#De meme  ENTRE START ET STOP 
    mid=pd.DataFrame(index=pd.date_range(start=ciuchStart, end=ciuchStop,periods=steps,inclusive='left')).reset_index(drop=False).rename(columns={'index':'slice'}) 
    mid.index=['mid_'+str(x) for x in range(steps-1)] 
    slices=pd.concat([slices,mid]) 
#     IDEM ENTRE STOP ET STOPDOWN 
    down=pd.DataFrame(index=pd.date_range(start=ciuchStop, end=ciuchStopdown,periods=steps,inclusive='left')).reset_index(drop=False).rename(columns={'index':'slice'}) 
    down.index=['down_'+str(x) for x in range(steps-1)] 
    slices=pd.concat([slices,down]) 
#  slices=slices.append(up)  
slices=slices.reset_index(drop=False).rename(columns={'index':'slice_id'}) # Renomme le nom de la colonne 
#  
timing_slices=pd.merge_asof(slices,timing,left_on='slice',right_on='ciuchStartup',direction='backward') # Jointure des dataframe slices et timing 
timing_slices=timing_slices[['run', 'refListId', 'refListId_last','slice_id','slice',  \
                             'ciuchStartup', 'ciuchStart', 'ciuchStop', 'ciuchStopdown','t0_run']] # Affiche ces colonnes 

timing_slices

,run,refListId,refListId_last,slice_id,slice,ciuchStartup,ciuchStart,ciuchStop,ciuchStopdown,t0_run
0,2,0,9,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:55.894500,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,2019-11-07 18:54:55.894500
1,2,0,9,up_1,2019-11-07 18:54:56.509000000,2019-11-07 18:54:55.894500,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,2019-11-07 18:54:55.894500
2,2,0,9,up_2,2019-11-07 18:54:57.123500000,2019-11-07 18:54:55.894500,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,2019-11-07 18:54:55.894500
3,2,0,9,mid_0,2019-11-07 18:54:57.738000000,2019-11-07 18:54:55.894500,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,2019-11-07 18:54:55.894500
4,2,0,9,mid_1,2019-11-07 18:54:58.353333333,2019-11-07 18:54:55.894500,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,2019-11-07 18:54:55.894500
...,...,...,...,...,...,...,...,...,...,...
3055,39,9,8,mid_1,2019-11-07 19:34:34.354333333,2019-11-07 19:34:31.683000,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,2019-11-07 19:33:38.447500
3056,39,9,8,mid_2,2019-11-07 19:34:35.012666666,2019-11-07 19:34:31.683000,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,2019-11-07 19:33:38.447500
3057,39,9,8,down_0,2019-11-07 19:34:35.671000000,2019-11-07 19:34:31.683000,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,2019-11-07 19:33:38.447500
3058,39,9,8,down_1,2019-11-07 19:34:36.340333333,2019-11-07 19:34:31.683000,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,2019-11-07 19:33:38.447500
3059,39,9,8,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:34:31.683000,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,2019-11-07 19:33:38.447500

In [45]:
# merge between df and timing
# merge_asof needs sorted df > df_ref
tags=tags[ (tags['LogTime']>=timing['ciuchStartup'].min()) & (tags['LogTime']<=timing['ciuchStopdown'].max())]# Sélectionne les données dont la date de scan des articles est supérieure à la plus petite valeur de la colonne ciuchStartUp ET la date de scan des scans est inférieure à la plus grande valeur de ciuchStopDown 
# Ca veut donc dire que c'est impossible que des articles soient scannés alors que la boîte n'est pas encore arrivé au StartUp ou qu'après la dernière boite ait passé par le StopDown.  

tags=tags.sort_values('LogTime')  # Range par ordre chronologique les données selon LogTime
# 
# each row in df_ref is merged with the last row in timing where timing (ciuchstart_up) < df_ref (logtime)
# 
# df_timing=pd.merge_asof(df_ref,timing,left_on=['LogTime'],right_on=['ciuchStartup'],direction='backward')
# df_timing=df_timing.dropna()
# df_timing=df_timing.sort_values('LogTime').reset_index(drop=True)
# df_timing=df_timing[['run', 'Epc','refListId', 'refListId_last', 'ciuchStartup',\
#                      'LogTime', 'ciuchStop', 'ciuchStopdown','Rssi', 'loc', 'refListId_actual']]
# 
# each row in df_ref is merged with the last row in timing_slices where timing (slice) < df_ref (logtime)
# 
tags_timing_slices=pd.merge_asof(tags_reflist,timing_slices,left_on=['LogTime'],right_on=['slice'],direction='backward')
tags_timing_slices=tags_timing_slices.dropna()
tags_timing_slices=tags_timing_slices.sort_values('slice').reset_index(drop=True)
tags_timing_slices=tags_timing_slices[['run', 'Epc','refListId', 'refListId_last', 'ciuchStartup','slice_id','slice','LogTime', \
                      'ciuchStart','ciuchStop', 'ciuchStopdown', 'Rssi', 'loc','t0_run','refListId_actual']]

tags_timing_slices


# tags : Dataframe contenant les articles scannés 
# timing_slices : Dataframe contenant les boîtes scannées avec les parties divisées 
# tags_times_slices : Dataframe contenant les articles scannés ainsi que les boîtes avec les parties divisées

,run,Epc,refListId,refListId_last,ciuchStartup,slice_id,slice,LogTime,ciuchStart,ciuchStop,ciuchStopdown,Rssi,loc,t0_run,refListId_actual
0,2.0,epc_91,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-70.0,out,2019-11-07 18:54:55.894500,0
1,2.0,epc_131,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-69.0,in,2019-11-07 18:54:55.894500,9
2,2.0,epc_99,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-71.0,in,2019-11-07 18:54:55.894500,0
3,2.0,epc_105,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-71.0,in,2019-11-07 18:54:55.894500,0
4,2.0,epc_131,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-62.0,in,2019-11-07 18:54:55.894500,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354040,39.0,epc_151,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-70.0,out,2019-11-07 19:33:38.447500,2
354041,39.0,epc_87,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,out,2019-11-07 19:33:38.447500,4
354042,39.0,epc_87,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,out,2019-11-07 19:33:38.447500,4
354043,39.0,epc_81,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:09,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-72.0,out,2019-11-07 19:33:38.447500,4
354044,39.0,epc_193,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:51:04,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-75.0,in,2019-11-07 19:33:38.447500,7

In [49]:
runs_out=tags_timing_slices.groupby('run')['refListId'].nunique().rename('Q refListId').reset_index(drop=False)

#groupe les données dans tags_timing_slices par la colonne "run", 
#compte le nombre de valeurs uniques de "refListId" pour chaque groupe, renomme la colonne résultante "Q refListId", et réinitialise l'index.

#runs_out[runs_out['Q refListId']!=10]#filtre le dataframe pour n'afficher que les lignes où "Q refListId" n'est pas égal à 10.

#En résumé cette opération cherche à vérifier si pour chaque groupe "run", il y a exactement 10 valeurs uniques de "refListId".
#Si ce n'est pas le cas, alors les lignes correspondantes seront affichées

runs_out

     run  Q refListId
0    2.0           10
1    3.0           10
2    4.0           10
3    5.0           10
4    6.0           10
5    7.0           10
6    8.0           10
7    9.0           10
8   10.0           10
9   11.0           10
10  12.0           10
11  13.0           10
12  14.0           10
13  15.0           10
14  17.0           10
15  19.0           10
16  20.0           10
17  21.0           10
18  22.0           10
19  24.0           10
20  25.0           10
21  26.0           10
22  27.0           10
23  28.0           10
24  29.0           10
25  30.0           10
26  31.0           10
27  33.0           10
28  34.0           10
29  35.0           10
30  36.0           10
31  37.0           10
32  38.0           10
33  39.0           10

In [51]:
#suppression  des doublons dans la combinaison de colonnes ('run', 'refListId', 'refListId_last') de timing_slices, 
# et on ne garde que les colonnes 'run', 'refListId', 'refListId_last' et 'ciuchStop'

current_last_windows=timing_slices.drop_duplicates(['run','refListId','refListId_last'])
current_last_windows=current_last_windows[['run','refListId','refListId_last','ciuchStop']].reset_index(drop=True)
current_last_windows

     run refListId  refListId_last               ciuchStop
0      2         0               9 2019-11-07 18:54:59.584
1      2         1               0 2019-11-07 18:55:05.694
2      2         2               1 2019-11-07 18:55:11.476
3      2         3               2 2019-11-07 18:55:17.273
4      2         4               3 2019-11-07 18:55:22.679
..   ...       ...             ...                     ...
335   39         5               4 2019-11-07 19:34:13.091
336   39         6               5 2019-11-07 19:34:18.655
337   39         7               6 2019-11-07 19:34:24.686
338   39         8               7 2019-11-07 19:34:29.670
339   39         9               8 2019-11-07 19:34:35.671

[340 rows x 4 columns]

In [53]:
rssi_threshold=-110 

tags_timing_slices_threshold=tags_timing_slices[tags_timing_slices['Rssi']>rssi_threshold] # tags_timing_threshold est un dataframe 
#contenant toutes les données ayant une puissance de signal supérieure à -110 

tags_timing_slices_threshold

,run,Epc,refListId,refListId_last,ciuchStartup,slice_id,slice,LogTime,ciuchStart,ciuchStop,ciuchStopdown,Rssi,loc,t0_run,refListId_actual
0,2.0,epc_91,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-70.0,out,2019-11-07 18:54:55.894500,0
1,2.0,epc_131,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-69.0,in,2019-11-07 18:54:55.894500,9
2,2.0,epc_99,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-71.0,in,2019-11-07 18:54:55.894500,0
3,2.0,epc_105,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-71.0,in,2019-11-07 18:54:55.894500,0
4,2.0,epc_131,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-62.0,in,2019-11-07 18:54:55.894500,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354040,39.0,epc_151,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-70.0,out,2019-11-07 19:33:38.447500,2
354041,39.0,epc_87,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,out,2019-11-07 19:33:38.447500,4
354042,39.0,epc_87,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,out,2019-11-07 19:33:38.447500,4
354043,39.0,epc_81,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:09,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-72.0,out,2019-11-07 19:33:38.447500,4
354044,39.0,epc_193,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:51:04,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-75.0,in,2019-11-07 19:33:38.447500,7

In [38]:
# runs 16 23 32 40 have missing boxes: discarded
# also run 1 is the start, no previous box: discarded
# run 18: box 0 run at the end
# 
timing=timing[~timing['run'].isin([1,18,16,23,32,40])]
timing_slices=timing_slices[~timing_slices['run'].isin([1,18,16,23,32,40])]
tags_timing_slices=tags_timing_slices[~tags_timing_slices['run'].isin([1,18,16,23,32,40])]

tags_timing_slices=tags_timing_slices.sort_values(['LogTime','Epc'])
# 

tags_timing_slices

,run,Epc,refListId,refListId_last,ciuchStartup,slice_id,slice,LogTime,ciuchStart,ciuchStop,ciuchStopdown,Rssi,loc,t0_run,refListId_actual
34,2.0,epc_100,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-69.0,in,2019-11-07 18:54:55.894500,0
87,2.0,epc_100,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-47.0,out,2019-11-07 18:54:55.894500,0
89,2.0,epc_100,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-68.0,in,2019-11-07 18:54:55.894500,0
114,2.0,epc_100,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-50.0,out,2019-11-07 18:54:55.894500,0
120,2.0,epc_100,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-54.0,out,2019-11-07 18:54:55.894500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348270,39.0,epc_128,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:44:02,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-67.0,in,2019-11-07 19:33:38.447500,6
348275,39.0,epc_128,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:44:02,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-74.0,in,2019-11-07 19:33:38.447500,6
348277,39.0,epc_128,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:44:02,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-71.0,in,2019-11-07 19:33:38.447500,6
351170,39.0,epc_109,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:44:03,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,in,2019-11-07 19:33:38.447500,6
354044,39.0,epc_193,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:51:04,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-75.0,in,2019-11-07 19:33:38.447500,7

In [54]:
# df_timing_slices['dt']=
tags_timing_slices['dt']=(df_timing_slices['LogTime']-df_timing_slices['t0_run']).apply(lambda x:x.total_seconds())

# Temps passé entre la lecture de l'étiquette EPC actuel 
#et le 1er passage du 1er carton (début) 

#Cette ligne de code calcule donc  la différence de temps en secondes entre chaque instant de temps de la colonne "LogTime" et l'instant de temps initial de la course stocké dans la colonne "t0_run". 
#La différence est stockée dans une nouvelle colonne nommée "dt" dans le DataFrame "df_timing_slices".
#La fonction lambda est utilisée pour appliquer la méthode "total_seconds()" sur chaque élément de la différence de temps

tags_timing_slices

,run,Epc,refListId,refListId_last,ciuchStartup,slice_id,slice,LogTime,ciuchStart,ciuchStop,ciuchStopdown,Rssi,loc,t0_run,refListId_actual,dt
0,2.0,epc_91,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-70.0,out,2019-11-07 18:54:55.894500,0,NaN
1,2.0,epc_131,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-69.0,in,2019-11-07 18:54:55.894500,9,NaN
2,2.0,epc_99,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-71.0,in,2019-11-07 18:54:55.894500,0,NaN
3,2.0,epc_105,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-71.0,in,2019-11-07 18:54:55.894500,0,NaN
4,2.0,epc_131,0,9.0,2019-11-07 18:54:55.894500,up_0,2019-11-07 18:54:55.894500000,2019-11-07 18:54:56,2019-11-07 18:54:57.738,2019-11-07 18:54:59.584,2019-11-07 18:55:01.765,-62.0,in,2019-11-07 18:54:55.894500,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354040,39.0,epc_151,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-70.0,out,2019-11-07 19:33:38.447500,2,56.5525
354041,39.0,epc_87,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,out,2019-11-07 19:33:38.447500,4,56.5525
354042,39.0,epc_87,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:08,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-69.0,out,2019-11-07 19:33:38.447500,4,56.5525
354043,39.0,epc_81,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:36:09,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-72.0,out,2019-11-07 19:33:38.447500,4,56.5525
354044,39.0,epc_193,9,8.0,2019-11-07 19:34:31.683000,down_2,2019-11-07 19:34:37.009666666,2019-11-07 19:51:04,2019-11-07 19:34:33.696,2019-11-07 19:34:35.671,2019-11-07 19:34:37.679,-75.0,in,2019-11-07 19:33:38.447500,7,56.5525

In [57]:
# readrate
# readrate
round(100*tags_timing_slices_threshold.reset_index(drop=False).groupby(['run','loc'])['Epc'].nunique().groupby('loc').mean()/reflist['Epc'].nunique(),2)

loc
in     100.00
out     99.36
Name: Epc, dtype: float64

# Méthode Analytique

In [59]:
def analytical(tags, subslices):
    
# La fonction calcule la valeur maximale de Rssi pour chaque combinaison d''Epc', 'refListId', 'subslice_id' et 'loc' à partir du DataFrame tags. Les valeurs sont stockées dans un DataFrame nommé ana.
    ana = tags.groupby(['Epc','refListId','slice_id','loc'])['Rssi'].max()\
            .unstack('loc', fill_value=-110).reset_index(drop = False)
    
# La fonction crée un DataFrame nommé order contenant les valeurs uniques de 'subslice_id' et leur ordre d'apparition 'order'.  
    order = pd.DataFrame(subslices['slice_id'].unique(), columns = ['slice_id'])
    order['order'] = order.index
    
# La fonction fusionne le DataFrame ana avec le DataFrame order sur la colonne 'subslice_id' pour obtenir une colonne order dans ana.
    ana = pd.merge(ana, order, on = 'slice_id', how = 'left')
    ana = ana [['Epc','refListId','slice_id','in','out','order']]
    
# La fonction extrait le dernier 'subslice_id' avec une valeur de 'out' supérieure à 'in', et le premier 'subslice_id' avec une valeur de 'in' supérieure à 'out' à partir de ana. 
# Ces deux ensembles de données sont stockés dans les DataFrames 'ana_out' et 'ana_in'.
    
# Last subslice_id with out>in (pas encore à l'intérieur)
    ana_out = ana[ana['out']>ana['in']].sort_values(['Epc','refListId','order'], ascending = False).drop_duplicates(['Epc','refListId'])

# First subslice_id with in>out (à dépasser l'intérieur)
    ana_in = ana[ana['in']>ana['out']].sort_values(['Epc','refListId','order'], ascending = True).drop_duplicates(['Epc','refListId'])

# La fonction fusionne les DataFrames ana_in et ana_out sur les colonnes Epc et refListId en utilisant une jointure interne (inner join). Le résultat est stocké dans le DataFrame ana.
# Rajoute un _in en suffix pour les élements fusionnés venant de anna_in et réciproquement avec _out
    ana = pd.merge(ana_in, ana_out, on=['Epc', 'refListId'], suffixes=['_IN', '_OUT'], how = 'inner') \
            .sort_values(['Epc'])
# La fonction fusionne le DataFrame ana avec un autre DataFrame nommé reflist sur la colonne Epc en utilisant une jointure gauche (left join). Le résultat est stocké dans le DataFrame ana.
    ana = pd.merge(ana, reflist, on = 'Epc', how = 'left')

# La fonction ajoute une colonne 'pred_ana_bool' à ana qui contient la valeur booléenne True si la partie initiale de la chaîne 'refListId' (avant le premier caractère "_") est égale à la valeur de la colonne box de ana.
    ana['pred_ana_bool'] = ana['refListId'] == ana['refListId_actual']

#  Nombre de ligne pour la colonne 'pred_ana_bool' dans le df ana
    value_counts = ana['pred_ana_bool'].value_counts()
    
# On calcul le poucentage de true dans 'pred_ana_bool' donc le nombre de prédiction vrai
    true_percentage = value_counts[True] / value_counts.sum()*100

# La fonction retourne le poucentage de prédiction vraie
    return true_percentage

In [61]:
tags_test = df_timing_slices.loc[:,['Epc', 'LogTime','Rssi','loc','refListId']]

tags_test

            Epc             LogTime  Rssi  loc refListId
9002    epc_100 2019-11-07 18:54:56 -69.0   in         0
9054    epc_100 2019-11-07 18:54:56 -47.0  out         0
9056    epc_100 2019-11-07 18:54:56 -68.0   in         0
9082    epc_100 2019-11-07 18:54:56 -50.0  out         0
9089    epc_100 2019-11-07 18:54:56 -54.0  out         0
...         ...                 ...   ...  ...       ...
354269   epc_99 2019-11-07 19:34:37 -49.0  out         9
354280   epc_99 2019-11-07 19:34:37 -49.0  out         9
354301   epc_99 2019-11-07 19:34:37 -49.0  out         9
354307   epc_99 2019-11-07 19:34:37 -62.0   in         9
354353   epc_99 2019-11-07 19:34:37 -51.0  out         9

[307965 rows x 5 columns]

In [63]:
analytical(tags_timing_slices, timing_slices)

67.109634551495

# Machine learning